"{{path_name}}": {
    "class": "Application",
    "template": "generic",


    "{{vs_name}}-{{app_service}}-pool": {
        "class": "Pool",
        "monitors": [
            "{{service_monitor}}"
        ],
        "members": [
            {
                "servicePort": {{service_port}},
                "serverAddresses": [
                    "{{pool_member}}"
                ]            
            }         
        ]
    }
}
