"{{path_name}}": {
    "class": "Application",
    "{{vs_name}}-{{app_service}}": {
        "class": "Service_TCP",
        "virtualAddresses": [
            "{{ bigip_address }}"
        ],
        "virtualPort": {{vs_port}},
        "snat": "auto"
    }
}