{

    "name": "{{vs_name}}-psp_end_deny",
    "partition": "{{partition_name}}",
    "caption": "Deny",
    "color": 2,
    "itemType": "ending",
    "agents": [
        {
            "name": "{{vs_name}}-psp_end_deny_ag",
			"partition": "{{partition_name}}",
            "type": "ending-deny"

        }
    ]
}