{

    "name": "{{vs_name}}-psp_ent",
    "partition": "{{partition_name}}",
    "caption": "Start",
    "color": 1,
    "itemType": "entry",
    "loop": "false",
    "rules": [
        {
            "caption": "fallback",
            "nextItem": "/{{partition_name}}/{{vs_name}}-psp_act_ondemand_cert_auth"

        }
    ]
}