{
	"site_name":"{{dns_name}}",
	"http_port":"80",
	"https_port":"443",
	"computer_ip":"{{iis_address}}",
	"template_number": "2",
	"authentication": "kerberos",
	"customization": {
		"background": "green"

	}
}