{

    "name": "{{vs_name}}-psp_end_allow",
    "partition": "{{partition_name}}",
    "caption": "Allow",
    "color": 1,
    "itemType": "ending",
    "agents": [
        {
            "name": "{{vs_name}}-psp_end_allow_ag",
			"partition": "{{partition_name}}",
            "type": "ending-allow"

        }
    ]
}